includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    ignoreErrors:
        - '#Property MichaelRubel\\Couponables\\Services\\CouponService(.*)MichaelRubel\\EnhancedContainer\\Core\\CallProxy\) does not accept mixed\.#'
        - '#Parameter \#2 \$concrete of method Illuminate\\Contracts\\Container\\Container(.*) expects Closure\|string\|null, mixed given\.#'
        - '#Property Illuminate\\Database\\Eloquent\\Model\:\:\$table \(string\) does not accept mixed\.#'
        - '#Property MichaelRubel\\Couponables\\Events\\(.*) is never read, only written\.#'
        - '#Parameter \#1 \$coupon of class MichaelRubel\\Couponables\\Events\\(.*) constructor expects MichaelRubel\\Couponables\\Models\\Contracts\\CouponContract, mixed given\.#'
        - '#Access to an undefined property MichaelRubel\\Couponables\\Models\\Contracts\\CouponContract(.*)#'
        - '#Call to an undefined method MichaelRubel\\Couponables\\Models\\Contracts\\CouponContract(.*)#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isCouponAlreadyUsed\(\)\.#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:coupons\(\)#'
        - '#Call to an undefined method MichaelRubel\\EnhancedContainer\\Core\\CallProxy(.*)#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model(.*)#'
        - '#Cannot call method (.*) on mixed\.#'
        - '#Method MichaelRubel\\Couponables\\Services\\CouponService\:\:verifyCoupon\(\) should return MichaelRubel\\Couponables\\Models\\Contracts\\CouponContract but returns mixed\.#'

    level: max

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
