includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    ignoreErrors:
        - '#Property MichaelRubel\\Couponables\\Events\\(.*) is never read, only written\.#'
        - '#Access to an undefined property MichaelRubel\\Couponables\\Models\\Contracts\\CouponContract(.*)#'
        - '#Call to an undefined method MichaelRubel\\Couponables\\Models\\Contracts\\CouponContract(.*)#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:isCouponAlreadyUsed\(\)\.#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:coupons\(\)#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model(.*)#'
        - '#Method MichaelRubel\\Couponables\\Models\\Coupon\:\:for\(\) should return MichaelRubel\\Couponables\\Models\\Contracts\\CouponContract but returns Illuminate\\Database\\Eloquent\\Model\|null\.#'
        - '#Cannot call method update\(\) on Illuminate\\Database\\Eloquent\\Model\|null\.#'
        - '#Parameter \#1 \$related of method Illuminate\\Database\\Eloquent\\Model\:\:hasMany\(\) expects string, MichaelRubel\\Couponables\\Models\\Contracts\\CouponPivotContract given\.#'
        - '#Unable to resolve the template type TValue in call to function collect#'
        - '#Return type of call to function transform contains unresolvable type.#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:get(.*)Column\(\)\.#'
        - '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsTo\(\)$#'

    level: 6

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkGenericClassInNonGenericObjectType: false

    checkOctaneCompatibility: true
